
    <h1><%= "#{@team_name}" %></h1>
    
    <h1><b>Team Motto: </b><%= "#{@team_motto}" %></h1>

    <% @team_members.each_with_index do |hero, index| %>
       <h1>Hero Name: <%= @member_names[index] %></h1>
        <p> Hero Power: <%= @member_powers[index] %> </p>
        <p> Hero Biography: <%= @member_bios[index] %> </p>
    <% end %>
    


